html, body {
    margin: 0;
    padding: 0;
    background: #aac2da;
    font-family: "Open Sans";
    font-weight: 300;
}

nav {
    background: #2b438b;
    color: white;
    box-shadow: 4px 4px 0 2px rgba(0,0,0,.4);
    padding: 20px;
    margin: 20px;
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}

ul, li {
    margin:0;
    padding:0;
    list-style: none;
}

main {
    background: #d9dcf0;
    padding: 20px;
    margin: 20px;
    margin-left: 250px;
}

dt {
    font-weight: 500;
}

h1, h2, h3 {
    margin: 10px 0;
}
